@page "/color"

@using System.Text.Json
@rendermode InteractiveServer

<PageTitle>Color Roll</PageTitle>

<MudCard Style="width:500px">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Random Color Roll</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudForm>
        <MudCardContent>
            <MudButton OnClick="GetRandomColor" Variant="Variant.Filled" Label="">Generate random color and region!</MudButton>
        </MudCardContent>
    </MudForm>
</MudCard>
<br />

@if(selectedColor is not null)
{
    <MudPaper Width="500px">
        <MudChipSet Clickable="false">
            <MudChip Icon="@Icons.Material.Filled.Palette" Size="Size.Large" Style="white-space:pre;">Your new dino color is <div style="color:@selectedColor.SRGB;"><b>@selectedColor!.Color</b></div> in region <b>@region</b>!</MudChip>
        </MudChipSet>
    </MudPaper>
}


@code {
    private readonly List<DinoColor>? dinoColors = 
        JsonSerializer.Deserialize<List<DinoColor>>(
            File.ReadAllText("colors.json"), 
            new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

    private DinoColor? selectedColor;
    private int region;

    private void GetRandomColor()
    {
        region = Random.Shared.Next(0, 5);
        selectedColor = Random.Shared.GetItems(dinoColors!.ToArray(), 1)[0];
    }
}
